<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.DataRedundancyMapper">

    <select id="selectRedundantRecords" resultType="com.lvwyh.entity.RedundantDataRecord">
        SELECT id, domain_name AS domainName, table_name AS tableName, hash_signature AS hashSignature,
               issue_status AS issueStatus, master_dataset AS masterDataset, created_at AS createdAt
        FROM redundant_data_record
        <where>
            <if test="domainName != null and domainName != ''">
                AND domain_name = #{domainName}
            </if>
            <if test="!includeResolved">
                AND issue_status != 'RESOLVED'
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countRedundantRecords" resultType="int">
        SELECT COUNT(1)
        FROM redundant_data_record
        <where>
            <if test="domainName != null and domainName != ''">
                AND domain_name = #{domainName}
            </if>
            <if test="!includeResolved">
                AND issue_status != 'RESOLVED'
            </if>
        </where>
    </select>

</mapper>
