<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.MobilityTypeMapper">
    <resultMap id="MobilityTypeResult" type="com.lvwyh.entity.MobilityType">
        <id property="level" column="level" />
        <result property="distance" column="distance" />
        <result property="isDiagonal" column="is_diagonal" />
        <result property="isAvoidingTorpedoes" column="is_avoiding_torpedoes" />
        <result property="avoidingRoll" column="avoiding_roll" />
        <result property="avoidingLess" column="avoiding_less" />
    </resultMap>

    <insert id="insert" parameterType="com.lvwyh.entity.MobilityType">
        INSERT INTO mobility_type (level, distance, is_diagonal, is_avoiding_torpedoes, avoiding_roll, avoiding_less)
        VALUES (#{level}, #{distance}, #{isDiagonal}, #{isAvoidingTorpedoes}, #{avoidingRoll}, #{avoidingLess})
    </insert>

    <select id="selectByLevel" resultMap="MobilityTypeResult">
        SELECT * FROM mobility_type WHERE level = #{level}
    </select>

    <select id="selectAll" resultMap="MobilityTypeResult">
        SELECT * FROM mobility_type ORDER BY level ASC
    </select>

    <update id="update" parameterType="com.lvwyh.entity.MobilityType">
        UPDATE mobility_type
        SET distance = #{distance},
            is_diagonal = #{isDiagonal},
            is_avoiding_torpedoes = #{isAvoidingTorpedoes},
            avoiding_roll = #{avoidingRoll},
            avoiding_less = #{avoidingLess}
        WHERE level = #{level}
    </update>

    <delete id="deleteByLevel">
        DELETE FROM mobility_type WHERE level = #{level}
    </delete>
</mapper>
