<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.ProjectileMapper">
    <resultMap id="ProjectileResult" type="com.lvwyh.entity.Projectile">
        <id property="id" column="id" />
        <result property="roomId" column="room_id" />
        <result property="projectileId" column="projectile_id" />
        <result property="weaponTypeId" column="weapon_type_id" />
        <result property="rounds" column="rounds" />
        <result property="posX" column="pos_x" />
        <result property="posY" column="pos_y" />
    </resultMap>

    <insert id="insert" parameterType="com.lvwyh.entity.Projectile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO projectile (room_id, projectile_id, weapon_type_id, rounds, pos_x, pos_y)
        VALUES (#{roomId}, #{projectileId}, #{weaponTypeId}, #{rounds}, #{posX}, #{posY})
    </insert>

    <select id="selectById" resultMap="ProjectileResult">
        SELECT * FROM projectile WHERE id = #{id}
    </select>

    <select id="selectByRoomAndRounds" resultMap="ProjectileResult">
        SELECT * FROM projectile WHERE room_id = #{roomId}
        <if test="rounds != null">
            AND rounds = #{rounds}
        </if>
        ORDER BY rounds ASC, id ASC
    </select>

    <delete id="deleteById">
        DELETE FROM projectile WHERE id = #{id}
    </delete>
</mapper>
