<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.RoomMapper">
    <resultMap id="RoomMap" type="com.lvwyh.entity.Room">
        <id property="id" column="id"/>
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>  <!-- 新增 -->
        <result property="mapSizeX" column="map_size_x"/>
        <result property="mapSizeY" column="map_size_y"/>
        <result property="rounds" column="rounds"/>
        <result property="isBattle" column="is_battle"/>
    </resultMap>

    <insert id="insert" parameterType="com.lvwyh.entity.Room" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room (room_id, room_name, map_size_x, map_size_y, rounds, is_battle)
        VALUES (#{roomId}, #{roomName}, #{mapSizeX}, #{mapSizeY}, #{rounds}, #{isBattle})
    </insert>

    <select id="selectPage" resultMap="RoomMap">
        SELECT id, room_id, room_name, map_size_x, map_size_y, rounds, is_battle
        FROM room
        ORDER BY id DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1) FROM room
    </select>
</mapper>
