<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.WarshipWeaponMapper">
    <resultMap id="WarshipWeaponResult" type="com.lvwyh.entity.WarshipWeapon">
        <id property="id" column="id" />
        <result property="warshipId" column="warship_id" />
        <result property="weaponId" column="weapon_id" />
        <result property="weaponTypeId" column="weapon_type_id" />
        <result property="weaponNum" column="weapon_num" />
    </resultMap>

    <insert id="insert" parameterType="com.lvwyh.entity.WarshipWeapon" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO warship_weapon (warship_id, weapon_id, weapon_type_id, weapon_num)
        VALUES (#{warshipId}, #{weaponId}, #{weaponTypeId}, #{weaponNum})
    </insert>

    <select id="selectById" resultMap="WarshipWeaponResult">
        SELECT id, warship_id, weapon_id, weapon_type_id, weapon_num
        FROM warship_weapon
        WHERE id = #{id}
    </select>

    <select id="selectByWarshipId" resultMap="WarshipWeaponResult">
        SELECT id, warship_id, weapon_id, weapon_type_id, weapon_num
        FROM warship_weapon
        WHERE warship_id = #{warshipId}
        ORDER BY id ASC
    </select>

    <update id="update" parameterType="com.lvwyh.entity.WarshipWeapon">
        UPDATE warship_weapon
        SET warship_id = #{warshipId},
            weapon_id = #{weaponId},
            weapon_type_id = #{weaponTypeId},
            weapon_num = #{weaponNum}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM warship_weapon WHERE id = #{id}
    </delete>

    <delete id="deleteByWarshipId">
        DELETE FROM warship_weapon WHERE warship_id = #{warshipId}
    </delete>
</mapper>
