<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.mapper.WarshipTypeMapper">
    <resultMap id="WarshipTypeResult" type="com.lvwyh.entity.WarshipType">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="armor" column="armor" />
        <result property="hp" column="hp" />
        <result property="mobility" column="mobility" />
        <result property="concealment" column="concealment" />
        <result property="actionPriority" column="action_priority" />
        <result property="weaponTypes" column="weapon_types" />
    </resultMap>

    <insert id="insert" parameterType="com.lvwyh.entity.WarshipType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO warship_type (name, armor, hp, mobility, concealment, action_priority, weapon_types)
        VALUES (#{name}, #{armor}, #{hp}, #{mobility}, #{concealment}, #{actionPriority}, #{weaponTypes})
    </insert>

    <select id="selectById" resultMap="WarshipTypeResult">
        SELECT * FROM warship_type WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="WarshipTypeResult">
        SELECT * FROM warship_type ORDER BY id ASC
    </select>

    <update id="update" parameterType="com.lvwyh.entity.WarshipType">
        UPDATE warship_type
        SET name = #{name},
            armor = #{armor},
            hp = #{hp},
            mobility = #{mobility},
            concealment = #{concealment},
            action_priority = #{actionPriority},
            weapon_types = #{weaponTypes}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM warship_type WHERE id = #{id}
    </delete>
</mapper>
